<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Patrick+Hand&family=Patrick+Hand+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!--
        Font usage--
        font-family: 'Lato', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Patrick Hand', cursive;
        font-family: 'Patrick Hand SC', cursive;
        font-family: 'Roboto', sans-serif;
    -->

    <!--Bootstrap 5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!--Locals-->
    <link rel="stylesheet" href="static/dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <!--Header-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="logo.png" alt="" width="30" height="24">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="/partner_dashboard">Home</a>
                        <a class="nav-link" href="/add_property" target="_blank">Add Property</a>
                        <a class="nav-link" href="/">Go to User-side</a>
                        <a class="nav-link" href="#">Settings</a>
                        <a class="nav-link right-float" href="logOut_Partner">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!--Main Content-->
    <main id="dash_bg">
        <div class="main-content">
            <div class="greetings">
                <div class="container text-center">
                    <h3 class="greeting-main">Welcome to your dashboard, {{first_name}}.</h3>
                    <h5 class="greeting-humour">Everything is updated like the Earth's Rotation!</h5>
                </div>
            </div>
            <div class="top-info-section">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-lg-2 col-md-4 col-sm-5 col-12 box box-info shadow">
                            <div class="box-info-logo">
                                <div class="box-info-header">
                                    Total tenant(s)
                                </div>
                                <div class="box-info-detail">
                                    <div class="counter-info">
                                        0
                                    </div>
                                    <i class='bx bx-group'></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 box box-info shadow">
                            <div class="box-info-logo">
                                <div class="box-info-header">
                                    Total property(s) <span></span>
                                </div>
                                <div class="box-info-detail">
                                    <div class="counter-info">
                                        {{property_count}}
                                    </div>
                                    <i class='bx bx-building-house'></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-5 col-12 box box-info shadow">
                            <div class="box-info-logo">
                                <div class="box-info-header">
                                    payment dues
                                </div>
                                <div class="box-info-detail">
                                    <div class="counter-info">
                                        0
                                    </div>
                                    <i class='bx bx-money'></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-5 col-12 box box-info shadow" id="add_propertyBtn">
                            <form action="/add_property" method="get" target="_blank">
                                <button style="border: none; background: #fff" class="box-info-logo">
                                    <div class="box-info-header">
                                        Add Property
                                    </div>
                                    <div class="box-info-detail">
                                        <div class="counter-info">
                                            <i class='bx bx-building-house'></i>
                                            <i class='bx bx-plus-circle'></i>
                                        </div>
                                    </div>
                                </button>
                            </form>
                        </div>
                    </div>
                    <!--Charts-->
                    <div id="chart-row" class="row d-flex justify-content-center align-items-center">
                        <div class="col-xl-5 col-12 box box-chart shadow" id="category-chart">
                        </div>
                        <div class="col-xl-6 col-12 box box-chart shadow" id="customer-chart">
                        </div>
                    </div>
                    <!--Charts ENDS-->
                </div>
            </div>
            <!--Table START-->

            <!--Table Properties-->
            <div class="table-section">
                <div class="container table-container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 table-box shadow">
                            <div class="box-info-header">
                                Property<span class="sub-text">(s)</span>
                            </div>
                            <table class="sticky_header">
                                <thead>
                                    <tr>
                                        <th class="small-column"></th>
                                        <th>Property ID</th>
                                        <th>Property Name</th>
                                        <th>Locality</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Country</th>
                                        <th>1 BHK</th>
                                        <th>2 BHK</th>
                                        <th>3 BHK</th>
                                        <th>4 BHK</th>
                                        <th>4+ BHK</th>
                                        <th>Total 1BHK</th>
                                        <th>Total 2BHK</th>
                                        <th>Total 3BHK</th>
                                        <th>Total 4BHK</th>
                                        <th>Total 4+BHK</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-property">
                                    {%for p in range(properties|length)%}
                                    <tr style="text-align: center">
                                        <td class="small-column">
                                            <form action="/homes" method="post" target="_blank">
                                                <input type="hidden" name="name"
                                                    value="{{properties[p].property_name}}">
                                                <input type="hidden" name="type" value="3 BHK">
                                                <button class="btn"><i class="fas fa-eye text-white"></i> <span style="display: block;">View</span></button>
                                            </form>
                                        <td>{{properties[p].id}}</td>    
                                        </td>
                                        <td style="background: {{colors[p]}}; color: #f1faee;">
                                            {{properties[p].property_name}}</td>
                                        <td>{{properties[p].locality}}</td>
                                        <td>{{properties[p].city}}</td>
                                        <td>{{properties[p].state}}</td>
                                        <td style="text-transform: uppercase">{{properties[p].country}}</td>
                                        <td>{{bhk_types[p][0]['one_BHK']}}</td>
                                        <td>{{bhk_types[p][0].two_BHK}}</td>
                                        <td>{{bhk_types[p][0].three_BHK}}</td>
                                        <td>{{bhk_types[p][0].four_BHK}}</td>
                                        <td>{{bhk_types[p][0].four_plus_BHK}}</td>
                                        <td>{{bhk_details[p][0].total_one}}</td>
                                        <td>{{bhk_details[p][0].total_two}}</td>
                                        <td>{{bhk_details[p][0].total_three}}</td>
                                        <td>{{bhk_details[p][0].total_four}}</td>
                                        <td>{{bhk_details[p][0].total_four_plus}}</td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--Table Tenants-->
            <div class="table-section">
                <div class="container table-container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 table-box shadow">
                            <div class="box-info-header">
                                Tenant<span class="sub-text">(s)</span>
                            </div>
                            <table class="sticky_header">
                                <thead>
                                    <tr>
                                        <th>Tenant Id</th>
                                        <th>photo</th>
                                        <th>Name</th>
                                        <th>Tenanted</th>
                                        <th>Gender</th>
                                        <th>Age</th>
                                        <th>phone number</th>
                                        <th>occupation</th>
                                        <th>home type</th>
                                        <th>status</th>
                                        <th>payment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0</td>
                                        <td>blank</td>
                                        <td>Example</td>
                                        <td>
                                            12/05/2021
                                            <div class="badges-info badges-color-blueish add-on-size-point75em">
                                                matthews unit
                                            </div>
                                        </td>
                                        <td>Male</td>
                                        <td>28</td>
                                        <td>854632541</td>
                                        <td>progammer</td>
                                        <td>
                                            <span class="badge-color two-bhk">
                                                2bhk
                                            </span>
                                        </td>
                                        <td>bachealor</td>
                                        <td>
                                            <div class="payment-status payment-paid">
                                                <div class="dot"></div>
                                                <span>clear</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>blank</td>
                                        <td>Example</td>
                                        <td>
                                            16/05/2021
                                            <div class="badges-info badges-color-greenish add-on-size-point75em">
                                                Anderson Appartments
                                            </div>
                                        </td>
                                        <td>Male</td>
                                        <td>32</td>
                                        <td>325632541</td>
                                        <td>Doctor</td>
                                        <td>
                                            <span class="badge-color four-bhk">
                                                4bhk
                                            </span>
                                        </td>
                                        <td>Family</td>
                                        <td>
                                            <div class="payment-status payment-paid">
                                                <div class="dot"></div>
                                                <span>clear</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>blank</td>
                                        <td>Example</td>
                                        <td>
                                            1/06/2021
                                            <div class="badges-info badges-color-greenish add-on-size-point75em">
                                                Anderson Appartments
                                            </div>
                                        </td>
                                        <td>Female</td>
                                        <td>21</td>
                                        <td>956632541</td>
                                        <td>Student</td>
                                        <td>
                                            <span class="badge-color one-bhk">
                                                1bhk
                                            </span>
                                        </td>
                                        <td>Student</td>
                                        <td>
                                            <div class="payment-status payment-pending">
                                                <div class="dot"></div>
                                                <span>pending</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>blank</td>
                                        <td>Example</td>
                                        <td>
                                            1/07/2021
                                            <div class="badges-info badges-color-blueish add-on-size-point75em">
                                                matthews unit
                                            </div>
                                        </td>
                                        <td>male</td>
                                        <td>21</td>
                                        <td>916632541</td>
                                        <td>computer scientist</td>
                                        <td>
                                            <span class="badge-color four-plus-bhk">
                                                4+bhk
                                            </span>
                                        </td>
                                        <td>family</td>
                                        <td>
                                            <div class="payment-status payment-paid">
                                                <div class="dot"></div>
                                                <span>clear</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>blank</td>
                                        <td>Example</td>
                                        <td>
                                            2/09/2021
                                            <div class="badges-info badges-color-blueish add-on-size-point75em">
                                                matthews unit
                                            </div>
                                        </td>
                                        <td>male</td>
                                        <td>21</td>
                                        <td>785632541</td>
                                        <td>teacher</td>
                                        <td>
                                            <span class="badge-color three-bhk">
                                                3bhk
                                            </span>
                                        </td>
                                        <td>family</td>
                                        <td>
                                            <div class="payment-status payment-pending">
                                                <div class="dot"></div>
                                                <span>pending</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>blank</td>
                                        <td>Example</td>
                                        <td>
                                            2/09/2021
                                            <div class="badges-info badges-color-blueish add-on-size-point75em">
                                                matthews unit
                                            </div>
                                        </td>
                                        <td>male</td>
                                        <td>21</td>
                                        <td>785632541</td>
                                        <td>lawyer</td>
                                        <td>
                                            <span class="badge-color three-bhk">
                                                3bhk
                                            </span>
                                        </td>
                                        <td>family</td>
                                        <td>
                                            <div class="payment-status payment-paid">
                                                <div class="dot"></div>
                                                <span>clear</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {%for i in properties%}
        <input id="property_names_hidden" type="hidden" value="{{i.property_name}}" name="property_names_hidden">
        {%endfor%}
    </main>

    <!-- SCRIPT -->
    <!--Bootsrap 5-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/939c2f26e1.js" crossorigin="anonymous"></script>

    <!-- APEX CHART -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!--Locals-->
    <script src="static/dashboard.js"></script>
</body>

</html>